<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magic Show</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/style.css">
  <script src="https://kit.fontawesome.com/5dd3a889b8.js" crossorigin="anonymous"></script>
  

</head>


<body>
    <!-- Header -->
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-custom navbar-expand-lg bg-body-tertiary fixed-top">
          <a class="navbar-brand mr-lg-5" href="{{url_for('main.index')}}"><b>Events in Brisbane</b></a>
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../static/img/logo.png" alt="MagicShow" width="150" height="50">
              </a>
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('event.create')}}">Create Event</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Find Event
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="">All Events</a></li>
                      <li><a class="dropdown-item" href="">By location <i class="fa-solid fa-location-crosshairs"></i></a></li>
                    </ul>
                  </li>
                  </li>
                </ul>
              </div>
    
              <form class="d-flex" role="search">
                
                <input class="form-control me-2" style="width:50%;" type="search" placeholder="Search Event" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                
              </form>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  {% if current_user.is_authenticated %}
                  <li class="nav-item">
                     <a class="nav-link disabled text-muted" href="#">Welcome {{current_user.userName}}</a>
                  </li>
                  <li>
                     <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Sign in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Sign up</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>

        <!-- Code for using Flask flash -->
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <!-- flashes any messages to the user -->
      {% with messages = get_flashed_messages() %}
      {% if messages %} <!-- check if there are any messages -->
      <div class="container-fluid">
         <div class="row mt-3 mb-3">
            <div class="col-md-12">
            {% for message in messages %} <!--loop through the messages-->
            <div class="alert alert-info">{{ message }}</div> <!--display as alert-->
            {% endfor %}
         </div>
      </div>
      </div>
      {% endif %}
      {% endwith %}


        {% block header %}

        {% endblock %}

    </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <section class="top">
            <img id="footerimage" src="../static/img/logo.png" width="150" height="50" >
            <div class="footer">
              <div class="row footerrow text-left">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h3>About MagicShow</h3>
                   <ul class="list-unstyled">
                    <li> <a>Create event</a> </li>
                    <li> <a>Explore event</a> </li>
                    <li> <a>Event markettinhg platform</a> </li>
                    <li> <a>E-Ticket available</a> </li>
                    <li> <a>Create Account</a> </li>
                    <li> <a>Share experience</a> </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h3>Find Events</h3>
                    <ul class="list-unstyled">
                    <li> <a>Search by location</a> </li>
                    <li>  <a>in Brisbane</a> </li>
                    <li>  <a>in Sydney</a> </li>
                    <li>  <a>in Melbourne</a> </li>
                    <li>  <a>in Perth</a> </li>
                    <li>  <a>All upcoming events</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h3>Create Events</h3>
                    <ul class="list-unstyled">
                    <li> <a>Register</a> </li>
                    <li>  <a>Event details</a> </li>
                    <li>  <a>Magician details</a> </li>
                    <li>  <a>Ticket details</a> </li>
                    <li>  <a>Upload event image</a> </li>
                    <li>  <a>post comment</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h3>Book Tickets</h3>
                    <ul class="list-unstyled">
                      <li> <a>Register</a> </li>
                      <li>  <a>number of tickets</a> </li>
                      <li>  <a>Type of ticket</a> </li>
                    <li>  <a>order ticket</a> </li>
                    <li>  <a>order confirmation id</a> </li>
                    </ul>
                </div>
              </div>
            </div>
          </section>
          <section class="bottom">© 2023 MagicShow</section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>