{% extends 'base.html' %}
 {% block content %}
  <main>
    <div id="history1" class="container d-flex justify-content-center align-items-center">
      
      <div class="row">
        <h1 id="book1">Booking History</h1>

        {% if bookings %}

        {% for booking in bookings %}
        <div id="first" class="d-flex col-md-11">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <img class="rounded-5" src="{{ url_for('static', filename=booking.event.eventImage) }}" class="rounded-5" width="250px" height="200px">
          </div>
          <div class="col-lg-5 col-md-2">
            <h6 id="write4">{{booking.event.eventName}}</h6>
            
            <h6 id="write3">Location - {{booking.event.eventLocation}}</h6>
            <h6 id="write3">Time & date of booking - {{booking.booked_at.strftime("%d/%m/%Y, %H:%M %p")}}<br>
            </h6>
            <h6 id="write3">Order confirmation id - #{{booking.id}}</h6>
          </div>
          <div id="price" class="col-lg-2 col-md-4">
            <h7 id="write3">Number Of Tickets- {{booking.numTickets}}</h7>
            <h6 id="write3">AUD ${{booking.totalPrice}}</h6>
            <a href="{{url_for('event.show', id=booking.event.id)}}"><button class="btnb">View Details</button></a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>It's time for you to disappear and make some bookings!</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-10">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}