{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 100px;">
    <div class="col-md-6">
        <div class="card shadow p-4" id="userform-card">
            <h4 class="text-center mb-4">{{ heading }}</h4>
            {{ render_form(form) }}
            {% if heading|lower == 'login' %}
            <p class="text-center mt-3">New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

