{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add Your Event{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 100px;">
    <div class="col-md-6">
        <div class="card shadow p-4" id="userform-card">
            <h1 class="text-center mb-4">Add Your Event!</h1>
            <p class="text-center mb-4">Enter some details so you can attract your audience.</p>
            {{ render_form(form) }}
        </div>
    </div>
</div>
{% endblock %}