{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 100px;" id="login1">
  <div class="col-md-6">
      <div class="card shadow p-4" id="userform-card">
            <br><br>
            <h1 class="text-center">Update Your Event's Information!</h1>
            <p class="text-center">This way you'll always be informing your attendees correctly.</p>
            {{ render_form(form) }}
        </div>
    </div>
</div>
{% endblock %}