/* styling index page */
body{
  background-color: rgba(2, 31, 248, 0.253);
}

#background-image{
  opacity: 0.9;
}

#background-image:hover{
  opacity:1.0;
}

.jombotron{
  background-color: black;
  color:white;
}

.card{
  background-color: rgba(95, 95, 112, 0);
  height:max-content; 
}

#rowcard{
  margin-top:20px;  
}

.card:hover{
  box-shadow: 8px 8px 5px rgb(62, 62, 62);    
  transform:scale(1.001);
}

.gradient-custom{
  background-color: black;
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  margin-top: 2em;
  border-radius: 25px;
  border: 2px solid #ffffff;
  margin-right:50px;
  margin-left:50px;
  color: white;

}

#headfor1{
  background-color:rgba(0, 0, 0, 0.367);
  color:white;
  border-radius:20px;
}

.navbar-custom {
  background-color: black;
}

.top{
  border-top-left-radius:40px;
  border-top-right-radius:40px;
  margin-left:50px;
  margin-top: 50px;
  margin-right:50px;
  background-color: black;
}

.footerrow{
  margin-top:50px;
  padding-left:20px;
  color:white
}

.bottom{
  margin-left:50px;
  margin-right:50px;
  padding-left:20px;
  background-color: black;
  color:white;
}

#footerimage{
  margin-left:20px;
  margin-top:20px;
}

#imgcard{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

/*styling create event page*/

.bg {
  margin-top:70px;
  background-image: url("../static/img/ph6.jpg");
  height:600px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.bluebg {
  background: rgba(87, 75, 147, 0.5);
  height: 140%;
  width: 100%;
  -webkit-mask-image: radial-gradient(circle at right, transparent 0, transparent 20%, black 20px);
  mask-image: radial-gradient(circle at right, transparent 0, transparent 20%, black 20px);
}

.textofcreate{
  text-align: center;
  padding-top: 10%;
  color:white;
  font-size:50px;
  text-transform: capitalize;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  
}


.overlay-text{
  position:absolute;
  top: 22%; 
  left: 80%; 
  transform: translate(-50%, -50%); 
  background-color: #fffefea9; 
  color: #fe0404; 
  padding: 5px 10px; 
  font-size: 20px;
  border-radius:10px;
}

#open{
  color:darkgreen;
}

#createpage{
  width:100%;
  background-size: cover;
  display: flex;
  align-items:left;
  justify-content:left;
}

form{
  width:90%;
  max-width: 600px;
  
}

.input-group{
  margin-bottom:50px;
  margin-top:50px;
  position:relative;
}

input,textarea{
  width:100%;
  padding:10px;
  outline:100px;
  border: 1px #fff #000000;
  color: #040000;
  background:transparent;
  font-size:15px;
}

/* Yatri can solve this later or she will fail the unit
label{
  height:100px;
  position:absolute;
  left:0;
  top:0;
  padding:10px;
  color:#000000;
  cursor:text;
  transition:0.2s;
}
input:focus~label{
  top:-35px;
  font-size:14px;

}
*/
.row1{
  padding-right: 20px;
}
.heading1{
  padding-top:20px;
  padding-bottom: 20px;
}

.state{
  width:100%;
  padding:10px;
  outline:100px;
  border: 100px #fff #000000;
  color: #0b0101;
  background:transparent;
  font-size:15px;

}



#drop-area{
  margin-top:1020px;
  margin-left:65%;
  width:300px;
  height:300px;
  padding-top:100px;
  background:#fcfafa86;
  text-align:center;
  border-radius:20px;
}



.devision{
  background-color: #000000;
}
.btnb1{
  padding-right:20px;
  font-size:15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgba(23, 18, 35, 0.436);
  color:white;
}

.link1{
  color:white;
}

.input-group1{
  padding-bottom: 20px;
}

#tocreate{
  margin-right:20px;
  margin-top:50px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  padding-left:5px;
  background-color:black;
  color:white;
}

/*styling event page*/
.eventthing{
  margin-top:20px;;
  background-color: #100d30d7;
  color:#fff;
  border-radius: 100px;
}

#back{
  border-radius:100px;
}

#i1{
  padding-left:25px;
  padding-top:20px;
  padding-bottom:20px;
}

#phase1{
  padding-left:50px;
  font-size:20px;
  
}

#head1{
  margin-top:100px;
  color:black;
  text-align: center;
  font-variant: small-caps;
  font-size: 60px;
}

#font1{
  color:black;
  padding-left:20px;
}

#font2{
  padding-left:5px;
}


#i2{
  border-radius:100%;
}

#commentbtn{
  background-color: #000000;
  color:white;
  padding-left: 10%;
  padding-right: 10%;
  margin-left:70%;

}

#sect{
  border-color: #fe0404;
  border-width: 20%;
}

.commentin{
  padding-top:5%;
  color:black;
  font-size:20px;
}

.commenton{
  background-color: rgba(197, 182, 182, 0.546);
  color:black;
  border: radius 5px;;

}

#get{
  color:black;
  margin-left:5%;
  border-radius:20px;
  text-align:center;
  margin-bottom:10%;
  margin-top:10%;
  margin-right:10%
  
}



.image-fader img {
  position:relative;
  top: 0%;
  left: 0%;
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes imagefade {
  5% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  30% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 4s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 0s;
}

/* styling booking history page*/

#history1{
  margin-top:100px;
  border: left 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right-style:double;
  
}

#first{
  background-color:rgba(53, 36, 105, 0.841);
  margin-top:3%;
  margin-bottom:7%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-top:3%;
  padding-bottom:3%;
  margin-right:3%;
  color:white;
}

#first:hover{
  box-shadow: 8px 8px 5px rgba(72, 53, 212, 0.495);    
  transform:scale(1);
}

#price{
  text-align:center;
  padding-top:10%;
}

#book1{
  color:black;
  text-align: center;
  font-variant: small-caps;
  font-size: 60px;

}

.pagination{
  align-items: center;
  margin-top:5%;
  margin-left:10%;
}

.page-link{
  background-color:black;
  color:white;
}

#but{
  background-color: black;
  color:white;

}

.btnb{
  background-color: black;
  color:white;
  margin-top:5%;
}

/*styling css fonts */
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h6{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.list-unstyled{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
  font-style: italic;
}

option{
  font-style: italic;
}

span{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
}

#write1{
  font-style:italic;
}

#write{
  padding-top:30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style:italic;
}

#write3{
  font-style: italic;
  padding-top:3%;
}

#write4{
  font-style:italic;
  padding-top:3%;
  font-size: 25px;

}


